// vue-splitpane 样式补丁

@import '_color';

.vue-grid-item {
  &.vue-grid-placeholder {
    border: 1px solid $color-border;
    background-color: rgba(#FFF, .3);
    opacity: 1;
    border-radius: 4px;
  }
}