@import 'public';

// 在这里写公用的class
// 注意 这个文件里只写class
// mixin等内容请在 public.scss 里书写

html, body {
  height: 100%;
  background-color: $color-background;
  #app {
    height: 100%;
  }
}

// 下边距
.mb {
  margin-bottom: $margin;
}
.mb-0 {
  margin-bottom: 0px;
}
